.footer-area-four {
    border: 1px solid #564c4b;
    background-color: #222222;
}
.contact-info li {
    list-style: none;
}
.contact-info li a {
    text-decoration: none;
}
.single-footer-widget h6 {
    color: aliceblue;
    font-size: 23px;
    font-family: sans-serif;
}
.list li {
    list-style: none;
}
a.nav-link.listnav.active {
    color: aliceblue !important;
    text-decoration: none;
    line-height: 21px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
a.nav-link.nav.active {
    padding: 0px;
    padding-top: 5px;
    font-family: sans-serif;
}
a.nav-link.listnav.active {
    padding: 0px;
    padding-top: 16px;
    font-family: sans-serif;
}
.nav-sec {
    padding-top: 20px;
}
.list {
    padding-top: 16px;
}
.single-footer-widget {
    padding-top: 30px;
}
.footer-sec {
    padding-top: 30px;
}
a.nav-link.nav.active:hover {
    color: #ff3366 !important;
}
h6.bottom {
    border-bottom: 3px solid #ff3366;
    position: relative;
    width: 119px;
}
.Support h6 {
    border-bottom: 3px solid #ff3366;
    position: relative;
    width: 84px;
}
a.nav-link.listnav.active:hover {
    color: #ff3366 !important;
}