@media screen and (max-width:320px) {
    .contact-connect{
        text-align: left !important;
    }
  }

.payment-processing-contact {
    background-color: #ff3366;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-content-box h3 {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}
.contact-content-box p {
    color: #ffffff;
    opacity: .88;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}
.contact-connect {
    text-align: right;
}
a.btn.btn-outline.sing {
    background: black;
    font-weight: 600;
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    border-radius: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 13px;
    border: none;
}
a.btn.btn-outline.sing:hover {
    background: aliceblue;
    color: black;
}
a.btn.btn-outline.Talk:hover {
    background: aliceblue;
    color: black;
}
a.btn.btn-outline.Talk {
    background: aliceblue;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #ffffff;
    padding: 13px 34px;
    border-radius: 60px;
    background: transparent;
    color: #ffffff;
}
