section.background-img {
    width: 100%;
    height: 690px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}
.single-funfacts-box {
    transition: 0.5s;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 3px;
    width: 320px;
    cursor: pointer;
}
span.count-sec {
    font-size: 40px;
    font-weight: 600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #ff3366;
    margin: 8px 0 0 3px;
    font-family: "Montserrat", sans-serif;
}
span.single-box {
    color: #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 1.5;
    margin: 0;
    font-weight: 600;
}

img.shopimg {
    margin-top: 8px;
    padding-bottom: 50px;
    /* width: 100%; */
    max-width: 100%;
}