img.box-img {
    
    height: 69px;
}
.platform-box {
    -webkit-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
    height: 90px;
    padding: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
img.box-img {
    height: 50px;
}
.box-img-sec h6 {
    font-size: 18px;
    font-weight: bolder;
    margin: 16px 0 0 20px;
}
.box-sec:hover {
    top: -10px;
    position: relative;
    top: 5px;
    transition: top ease 0.5s;
    height: 2px;
    cursor: pointer;
}

.text-center.hjbjh {
    color: aquamarine;
    font-size: 61px;
  
    font-size: 40px;
    font-weight: 600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #ff3366;
    margin: 8px 0 0 3px;
}
.box-sec {
    padding-bottom: 30px;
}