.iconshop {
    font-size: 15px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#ff5858), color-stop(#ff536c), color-stop(#ff517f), color-stop(#ff5393), to(#f857a6));
    background: linear-gradient(to right, #ff5858, #ff536c, #ff517f, #ff5393, #f857a6);
    color: #ffffff;
}
.single-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    color: #000000;
    margin-bottom: 15px;
}
.single-item p {
    font-size: 16px;
    color: #646464;
    line-height: 1.8;
    /* font-family: "Montserrat", sans-serif; */
}