.single-work-process {
    background: #ffffff;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 30px 25px;
    -webkit-box-shadow: 0 0 50px 33px rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.02);
    text-align: center;
}
.single-work-process:hover {
    box-shadow: 0px 0px 0px 0px !important;
    cursor: pointer;
}
.single-work-process span {
    display: block;
    color: #ff3366;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.single-work-process h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.single-work-process p{
    font-size: 15px;
    color: #646464;
    line-height: 1.8;
    margin-bottom: 15px;
}
.alert-info-box {
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
}
.alert-info-box a {
    font-weight: 800;
    color: #ff3366;
    cursor: pointer;
}
.alert-info-box a:hover{
    font-weight: 800;
    color: #ff3366;
}


.container-fluid.bg {
    background: linear-gradient(to right, #ff5858, #ff536c, #ff517f, #ff5393, #f857a6);
    margin-top: 64px;
}
.updated span{
font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -5px;
    margin-bottom: 10px;
    color: aliceblue;
}
.updated{
    text-align: center;
    padding-top: 50px;
}
.updated h2{
font-size: 30px;
font-weight: bold;
color: aliceblue;
}
.updated p{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    opacity: .88;
    color: white;
    line-height: 1.8;
    margin: 0px;
}
ul.nav-sec {
    list-style: none;
}


.nav-sec li {
    list-style: none;
}
img.tab_content {
    width: 100%;
}
a.nav-link.nav.active {
    color: aliceblue !important;
    color: aliceblue !important;
    font-weight: bold;
    font-size: 15.6px;
    margin-bottom: 10px;
}