section.sing-img {
    height: 88.4vh;
    position: relative;
    z-index: 1;
    background-image: url(/_next/static/images/agency-main-bg-0ae58a3….jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.sing-img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#ff5858), color-stop(#ff536c), color-stop(#ff517f), color-stop(#ff5393), to(#f857a6));
    background: linear-gradient(to right, #ff5858, #ff536c, #ff517f, #ff5393, #f857a6);
    opacity: .77;
}
.login-form {
    max-width: 540px;
    background: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 70px;
}
.form-group {
    margin-bottom: 20px;
}
.btnlogin {
    margin-top: 22px;
}
.group-from input {
    height: 55px;
}
.group-from {
    padding-left: 31px;
    padding-right: 31px;
}
.btnlogin button {
    width: 100%;
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    text-transform: capitalize;
}

.login-form h3 {
    background: #ff3366;
    padding: 30px 0 25px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
a.MuiTypography-root.Create-sec {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.line-sec {
    padding-top: 20px;
   
}
.group-from label {
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 10px;
    padding-top: 10px;
}
svg.MuiSvgIcon-root.goback-sec {
    border-radius: 7px;
    background: #ff3366;
    font-size: 41px;
    color:white !important;
    /* text-align: center; */
}
.goback {
    padding-top: 15px;
}
.MuiButton-containedSecondary:hover {
    color: #fff;
    background-color: black !important;
}