
  button.btn.btn-primary {
    
    color: #fff;
    background: black;
    border-radius: 35px;
    border:none;
    height: 45px;
    width: 161px;
   
}
.btn.btn-primary:hover {
    background-color: #fff;
    border: none;
    color: black;
}
.col-sm-6.background-color {
    background: linear-gradient(to right, #ff5858, #ff536c, #ff517f, #ff5393, #f857a6);
}

.payment-processing {
    margin-top: 129px;
}
.payment-processing h3 {
    color: #ffffff;
    margin: 0;
    font-size: 47.5px;
    font-weight: bold;
}
.payment-processing p {
    margin: 20px 0;
    opacity: .90;
    color: #ffffff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}
li {
    color: white;
}
a.active {
    color: white;
    text-decoration: none;
    line-height: 21px;
}
.payment-processing-banner img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}