
    
.InfiniteCarouselArrowIcon {
    display: inline-block;
    padding: 7px;
    border: solid #f45189;
    border-width: 0 5px 5px 0;
}
img.img-sec {
    width: 100%;
    opacity: .5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: 0;
}
img.img-sec:hover{
    color: black;
    opacity: 1;

}
h6.MuiTypography-gutterBottom {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}