
.features-sec {
    background-color: #f5fbff;
}
.features-sec {
    background-color: #f5fbff;
    /* padding-bottom: 70px; */
    padding-top: 70px;
}

.cards {
    padding: 39px 0px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #ff3366 50%);
    border-bottom: 2px solid #fe3366;
    height: 170px;
    transition: background-position 0.5s;
    margin-bottom: 30px;
}
.cards:hover {
padding: 39px 0px;
  background-position: 0 100%;
  color:#fff;
  transition: background-position 0.5s;
  height:170px;
  margin-bottom: 30px;
}
.container-fluid.background-sec {
    background: #f5fbff;
    margin-top: 50px;
}
.container.icon-sec {
    max-width: 1188px !important;
}