.cta-content-five span {
    color: #ff3366;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.cta-content-five h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
.cta-content-five h2 p {
    font-size: 15px;
    color: #646464;
    line-height: 1.8;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}
.container-fluid.bg-sec {
    background: #f5fbff;
    padding-top: 100px;
}

.cardcar-sec{
    padding: 39px 0px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #ff3366 50%);
    border-bottom: 2px solid #fe3366;
    height: 140px;
   
    transition: background-position 0.5s;
    margin-bottom: 30px;
}
.cardcar-sec:hover {
padding: 39px 0px;
  background-position: 0 100%;
  color:#fff;
  transition: background-position 0.5s;
  height:140px;
  margin-bottom: 30px;
  
  
}
img.sliderimg {
    width: 100%;
}