.services span {
    color: #ff3366;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
.services h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.services p{
font-size: 15px;
    color: #646464;
    line-height: 1.8;
    margin-bottom: 26px;
}
.services{
    padding-top: 70px;
}
.services {
    text-align: center;
}
