a.btn.btn-outline {
    text-transform: capitalize;
    padding: 11px 37.5px;
    color: #ffffff;
    background-color: #ff3366;
    font-weight: 500;
    border: none;
    font-size: 15px;
    border-radius: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
a.btn.btn-outline:hover{
    background-color: black;
}