a.nav-link {
    /* margin-left: 28px; */
    margin-right: 21px;
    padding-top: 11px;
}

li.nav-item {
    font-weight: bold;
   
}
.header-sec {
    padding-top: 12.3px;
}

.nav-link {
    color: #000000 !important;
    font-size: 15px;
}
.container.header-sec {
    max-width: 1188px !important; 
}
ul.navbar-nav.ml-auto {
    margin-right: 16px;
}